<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="./images/mm.png" />
    <meta name="description" content="Melissa McLean and Mike Mulderink's UP Trip">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/cssReset.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" type="text/css" media="(max-width: 1155px)" href="./styles/smallStyles.css" />
    <title>Melissa McLean & Mike Mulderink</title>
  </head>
  <body>
    <article>
      <section>
        <h1>Melissa and Mike's 2020 Upper Peninsula of Michigan Trip</h1>
      </section>
      <img class="down-arrow" src="./images/arrow-down.svg" alt="down svg">
    </article>
    <main>
    <article onclick="pictureModal(this)">
        <img src="./images/McLean-not-having-it.jpeg" alt="Melissa McLean">
        <section>
          <p>Melissa loves taking photos</p>
        </section>
      </article>
      <article onclick="pictureModal(this)">
        <img src="./images/She-Needs-Coffee.jpeg" alt="Melissa McLean">
        <section>
          <p>I Need Dunkin</p>
        </section>
      </article>
      <article onclick="pictureModal(this)">
        <img src="./images/Melissa-Nope.jpeg" alt="Melissa McLean">
        <section>
          <p>STOP Taking Photos</p>
        </section>
      </article>
      <article onclick="pictureModal(this)">
        <img src="./images/Mike-Cooking-Beans.jpeg" alt="Mike Mulderink">
        <section>
          <p>Mike Needs More Beans</p>
        </section>
      </article>
      <article onclick="pictureModal(this)">
        <img src="./images/MM-Beach.jpeg" alt="Melissa McLean & Mike Mulderink">
        <section>
          <p>Melissa and Mike</p>
        </section>
      </article>
      <article onclick="pictureModal(this)">
        <img src="./images/McLean-Iphone.jpeg" alt="Melissa McLean & Wine">
        <section>
          <p>Melissa is a Wine-O</p>
        </section>
      </article>
    </main>
    <script src="./js/index.js" async defer></script>
  </body>
</html>